openapi: 3.1.1
info:
  title: Amplitude Developer API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://amplitude.com/terms
  summary: OpenAPI-first contract for Amplitude CLI, MCP, SDK, and docs.
  description: |
    Public developer-facing API contract for Amplitude resources.
    This spec is intended to be the canonical source for generated CLI, MCP tools,
    SDKs, and documentation.
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://developer-api.amplitude.com
    description: Production
  - url: https://developer-api.stag2.amplitude.com
    description: Staging
security:
  - bearerAuth: []
tags:
  - name: Projects
    description: Project discovery and project-scoped navigation.
  - name: Taxonomy Events
    description: Event taxonomy operations.
  - name: Taxonomy Event Properties
    description: Event-property taxonomy operations (scoped to an event).
  - name: Taxonomy User Properties
    description: User-property taxonomy operations (scoped to a project).
  - name: Analytics
    description: Saved chart discovery and query operations.
  - name: Feature Flags
    description: Feature flag configuration and rollout operations.
  - name: Destinations
    description: Destination (connection) catalog and CRUD operations.
  - name: Skills
    description: Skill documents for implementing Amplitude, intended for AI agents.
  - name: Auth
    description: OAuth device-flow and token endpoints (RFC 8628 / RFC 6749).
paths:
  /v1/auth/device-authorization:
    post:
      tags:
        - Auth
      operationId: deviceAuthorization
      summary: Start a device authorization request
      description: |
        RFC 8628 device authorization endpoint. Initiates the device flow and returns a device_code, user_code, and verification URIs for the user to approve out of band, then poll the token endpoint. When `offline_access` is requested, `openid` is also required.
      x-required-scopes: []
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthorizationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeviceAuthorizationRequest'
      responses:
        '200':
          description: Device authorization started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationResponse'
        '400':
          description: Invalid request (RFC 6749 §5.2 OAuth error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '401':
          description: Client authentication failed (RFC 6749 §5.2 OAuth error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          description: Server error (RFC 6749 §5.2 OAuth error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
  /v1/auth/token:
    post:
      tags:
        - Auth
      operationId: token
      summary: Exchange a grant for tokens
      description: |
        RFC 6749 §3.2 token endpoint. Supports the `device_code` grant (RFC 8628) and the `refresh_token` grant. Authenticated by the fixed confidential device-flow client (injected server-side). Does not require a Bearer token.
      x-required-scopes: []
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Tokens issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid or unsupported grant (RFC 6749 §5.2 OAuth error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '401':
          description: Client authentication failed (RFC 6749 §5.2 OAuth error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          description: Server error (RFC 6749 §5.2 OAuth error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
  /v1/context:
    get:
      tags:
        - Projects
      operationId: getContext
      summary: Get authenticated context
      description: Returns the authenticated principal and organization context.
      x-required-scopes:
        - projects:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - object
                      - principal
                      - org
                    properties:
                      object:
                        type: string
                        const: context
                      principal:
                        type: object
                        required:
                          - object
                          - login_id
                          - org_id
                          - auth_type
                          - scopes
                        properties:
                          object:
                            type: string
                            const: principal
                          login_id:
                            type: string
                          org_id:
                            type: string
                          org_name:
                            type:
                              - string
                              - 'null'
                          auth_type:
                            type: string
                            enum:
                              - oauth
                              - pat
                              - service_account
                              - api_key
                          scopes:
                            type: array
                            items:
                              type: string
                      org:
                        type: object
                        required:
                          - id
                          - object
                          - name
                        properties:
                          id:
                            type: string
                          object:
                            type: string
                            const: org
                          name:
                            type:
                              - string
                              - 'null'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects:
    get:
      tags:
        - Projects
      operationId: listProjects
      summary: List projects
      description: Returns projects visible to the authenticated principal.
      x-required-scopes:
        - projects:read
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/events/check-recent-ingestion:
    post:
      tags:
        - Analytics
      operationId: checkRecentEventIngestionByApiKey
      summary: Check recent event ingestion with an ingestion API key
      description: |
        Checks whether Amplitude received any events for the project associated
        with the supplied ingestion API key during the preceding eight hours.

        `observed` means at least one event was received in the evaluated window.
        `not_observed` means no events were received. `inconclusive` means no events
        were found, but the available data could not confirm their absence. Use the
        returned window when reporting or comparing results.

        The window uses server upload time: when Amplitude received each event,
        rather than the event time supplied by the sender.

        Provide `polling_timeout_seconds` to request server polling guidance.
        While another check is advised, successful responses include
        `poll_after_seconds`; its omission means clients should stop polling.
      x-required-scopes: []
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - api_key
              properties:
                api_key:
                  type: string
                  pattern: \S
                  description: Ingestion API key for the Amplitude project to check.
                polling_timeout_seconds:
                  $ref: '#/components/schemas/RecentEventIngestionPollingTimeoutSeconds'
              additionalProperties: false
      responses:
        '200':
          description: Recent event ingestion status for the evaluated window.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - status
                      - window
                    properties:
                      status:
                        type: string
                        enum:
                          - observed
                          - not_observed
                          - inconclusive
                        description: |
                          `observed` when at least one event was received;
                          `not_observed` when none were received; `inconclusive`
                          when none were found but their absence could not be
                          confirmed.
                      poll_after_seconds:
                        $ref: '#/components/schemas/RecentEventIngestionPollAfterSeconds'
                      window:
                        type: object
                        required:
                          - lookback_hours
                          - start
                          - end
                          - basis
                        properties:
                          lookback_hours:
                            type: integer
                            const: 8
                            description: Number of hours evaluated.
                          start:
                            type: string
                            format: date-time
                            description: Start of the evaluated window.
                          end:
                            type: string
                            format: date-time
                            description: End of the evaluated window.
                          basis:
                            type: string
                            const: server_upload_time
                            description: |
                              The window is based on when Amplitude received each
                              event.
                        additionalProperties: false
                    additionalProperties: false
              example:
                data:
                  status: observed
                  window:
                    lookback_hours: 8
                    start: '2026-09-03T09:00:00Z'
                    end: '2026-09-03T17:00:00Z'
                    basis: server_upload_time
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          description: The supplied API key is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://developer-api.amplitude.com/problems/invalid-api-key
                title: Invalid API key
                status: 401
                detail: The supplied API key is invalid.
                error_code: invalid_api_key
                retryable: false
        '403':
          description: The endpoint is unavailable.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://developer-api.amplitude.com/problems/operation-not-enabled
                title: Endpoint unavailable
                status: 403
                detail: This endpoint is unavailable.
                error_code: operation_not_enabled
                retryable: false
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
        '502':
          description: |
            The ingestion status could not be determined. Retryable responses use
            `unreliable_dataset_response` or `upstream_error` as the `error_code`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '503':
          description: Endpoint not available.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://developer-api.amplitude.com/problems/operation-availability-unavailable
                title: Endpoint not available
                status: 503
                detail: This endpoint is not available.
                error_code: operation_availability_unavailable
                retryable: true
  /v1/skills:
    get:
      tags:
        - Skills
      operationId: listSkills
      summary: List available skills
      description: Returns the skills currently available for implementing Amplitude, with each skill's name and when-to-use description.
      security: []
      responses:
        '200':
          description: Available skills.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                        - description
                      properties:
                        name:
                          type: string
                          description: Identifier used to retrieve the skill.
                        description:
                          type: string
                          description: When to use this skill.
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/skills/{name}:
    get:
      tags:
        - Skills
      operationId: getSkill
      summary: Get a skill document
      description: Returns the requested skill document verbatim as markdown, including frontmatter.
      security: []
      parameters:
        - name: name
          in: path
          required: true
          description: Skill identifier as listed by `GET /v1/skills`.
          schema:
            type: string
      responses:
        '200':
          description: The requested skill document as markdown.
          content:
            text/markdown:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/destination-types:
    get:
      tags:
        - Destinations
      operationId: listDestinationTypes
      summary: List destination partner types
      x-required-scopes:
        - destinations:read
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DestinationType'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/destination-types/{partner}:
    parameters:
      - $ref: '#/components/parameters/Partner'
    get:
      tags:
        - Destinations
      operationId: getDestinationType
      summary: Get destination partner type
      x-required-scopes:
        - destinations:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/DestinationType'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/events:
    get:
      tags:
        - Taxonomy Events
      operationId: listEvents
      summary: List event taxonomy entries
      x-required-scopes:
        - taxonomy:read
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    post:
      tags:
        - Taxonomy Events
      operationId: createEvent
      summary: Create event taxonomy entry
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_type
              properties:
                event_type:
                  type: string
                description:
                  type:
                    - string
                    - 'null'
              additionalProperties: false
      responses:
        '201':
          description: Event created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/events/check-recent-ingestion:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
        - Analytics
      operationId: checkRecentEventIngestion
      summary: Check recent event ingestion
      description: |
        Checks whether events reached an Amplitude project during a recent time
        window. Provide `event_type` to check one exact event type, or omit it to
        check for any event. The default lookback is 10 minutes. The returned
        window can begin up to five minutes earlier so the evaluation covers the
        complete starting interval.

        `observed` means at least one matching event was found. `not_observed`
        means no matching event was found in the evaluated window. `inconclusive`
        means no matching event was found, but complete recent data was not
        available to confirm its absence. Use the returned window when reporting
        or comparing results.

        This POST computes a result and does not mutate state, so it does not
        require an `Idempotency-Key`.

        Provide `polling_timeout_seconds` to request server polling guidance.
        While another check is advised, successful responses include
        `poll_after_seconds`; its omission means clients should stop polling.
      x-required-scopes:
        - analytics:read
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecentEventIngestionCheckRequest'
      responses:
        '200':
          description: Ingestion check completed successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/RecentEventIngestionCheck'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          description: |
            The caller cannot use this operation. `operation_not_enabled` means the
            operation is not enabled for the caller's organization;
            `insufficient_scope` means the token lacks `analytics:read`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                operationNotEnabled:
                  summary: Endpoint unavailable
                  value:
                    type: https://developer-api.amplitude.com/problems/operation-not-enabled
                    title: Endpoint unavailable
                    status: 403
                    detail: This endpoint is unavailable for your organization.
                    error_code: operation_not_enabled
                    retryable: false
                insufficientScope:
                  summary: Missing required scope
                  value:
                    type: https://developer-api.amplitude.com/problems/forbidden
                    title: Insufficient scope
                    status: 403
                    detail: Token missing required scopes.
                    error_code: insufficient_scope
                    retryable: false
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
        '502':
          description: |
            The ingestion status could not be determined. Retryable responses use
            `event_type_not_queryable`, `unreliable_dataset_response`, or
            `upstream_error` as the `error_code`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '503':
          description: Endpoint not available.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                endpointNotAvailable:
                  summary: Endpoint not available
                  value:
                    type: https://developer-api.amplitude.com/problems/operation-availability-unavailable
                    title: Endpoint not available
                    status: 503
                    detail: This endpoint is not available.
                    error_code: operation_availability_unavailable
                    retryable: true
  /v1/projects/{project_id}/events/{event_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EventId'
    get:
      tags:
        - Taxonomy Events
      operationId: getEvent
      summary: Get event taxonomy entry
      x-required-scopes:
        - taxonomy:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    patch:
      tags:
        - Taxonomy Events
      operationId: updateEvent
      summary: Update event taxonomy entry
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type:
                    - string
                    - 'null'
                is_active:
                  type: boolean
              additionalProperties: false
      responses:
        '200':
          description: Event updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    delete:
      tags:
        - Taxonomy Events
      operationId: deleteEvent
      summary: Soft-delete event taxonomy entry
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Event soft-deleted.
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/events/{event_id}/event-properties:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EventId'
    get:
      tags:
        - Taxonomy Event Properties
      operationId: listEventProperties
      summary: List event properties for an event
      description: |
        Returns properties bound to a specific event, including ingested-only
        properties (those with `is_in_schema: false`). Use the `is_in_schema`
        flag to detect whether a `PATCH` will succeed before issuing it.
      x-required-scopes:
        - taxonomy:read
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventProperty'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    post:
      tags:
        - Taxonomy Event Properties
      operationId: createEventProperty
      summary: Create event property
      description: |
        Creates an event property and adds it to the project's tracking plan
        (`is_in_schema: true` after success). If the property already exists in
        the schema, the existing resource is returned without modification.
        If the property exists ingested-only (`is_in_schema: false`), this call
        promotes it into the schema with the metadata supplied here.
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - property_name
              properties:
                property_name:
                  type: string
                  minLength: 1
                description:
                  type:
                    - string
                    - 'null'
                data_type:
                  $ref: '#/components/schemas/PropertyDataType'
                is_array_type:
                  type: boolean
                  default: false
                enum_values:
                  type: array
                  items:
                    type: string
                regex:
                  type:
                    - string
                    - 'null'
                is_hidden:
                  type: boolean
                  default: false
                classifications:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        '201':
          description: Event property created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/EventProperty'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/events/{event_id}/event-properties/{event_property_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EventId'
      - $ref: '#/components/parameters/EventPropertyId'
    get:
      tags:
        - Taxonomy Event Properties
      operationId: getEventProperty
      summary: Get event property
      x-required-scopes:
        - taxonomy:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/EventProperty'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    patch:
      tags:
        - Taxonomy Event Properties
      operationId: updateEventProperty
      summary: Update event property metadata
      description: |
        Updates metadata on an event property. Returns `422 not_in_schema` if
        the property is ingested-only (`is_in_schema: false`); promote it via
        `POST` first. Field absent means leave unchanged; field with `null`
        clears (where allowed). `enum_values` and `classifications` replace the
        array entirely — there is no per-item add/remove.
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type:
                    - string
                    - 'null'
                data_type:
                  $ref: '#/components/schemas/PropertyDataType'
                is_array_type:
                  type: boolean
                enum_values:
                  type: array
                  items:
                    type: string
                regex:
                  type:
                    - string
                    - 'null'
                is_hidden:
                  type: boolean
                classifications:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        '200':
          description: Event property updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/EventProperty'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '422':
          description: |
            Property is not part of the project's tracking plan. Returned when
            attempting to PATCH a property with `is_in_schema: false`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    delete:
      tags:
        - Taxonomy Event Properties
      operationId: deleteEventProperty
      summary: Delete event property
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Event property deleted.
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/user-properties:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Taxonomy User Properties
      operationId: listUserProperties
      summary: List user properties for a project
      x-required-scopes:
        - taxonomy:read
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Query'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserProperty'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    post:
      tags:
        - Taxonomy User Properties
      operationId: createUserProperty
      summary: Create user property
      description: |
        Creates a user property and adds it to the project's tracking plan.
        Same idempotency semantics as `createEventProperty`.
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - property_name
              properties:
                property_name:
                  type: string
                  minLength: 1
                display_name:
                  type:
                    - string
                    - 'null'
                description:
                  type:
                    - string
                    - 'null'
                data_type:
                  $ref: '#/components/schemas/PropertyDataType'
                is_array_type:
                  type: boolean
                  default: false
                enum_values:
                  type: array
                  items:
                    type: string
                regex:
                  type:
                    - string
                    - 'null'
                is_hidden:
                  type: boolean
                  default: false
                classifications:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        '201':
          description: User property created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserProperty'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/user-properties/{user_property_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/UserPropertyId'
    get:
      tags:
        - Taxonomy User Properties
      operationId: getUserProperty
      summary: Get user property
      x-required-scopes:
        - taxonomy:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserProperty'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    patch:
      tags:
        - Taxonomy User Properties
      operationId: updateUserProperty
      summary: Update user property metadata
      description: |
        Updates metadata on a user property. Returns `422 not_in_schema` if the
        property is ingested-only. Same patch semantics as `updateEventProperty`
        (field absent = unchanged, `null` = clear, arrays replace).

        Only `display_name`, `description`, `is_hidden`, and `classifications`
        are mutable via PATCH today. Type/shape fields (`data_type`,
        `is_array_type`, `enum_values`, `regex`) are settable only at creation.
        `is_official` is read-only until TMS exposes a write path for it.
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type:
                    - string
                    - 'null'
                description:
                  type:
                    - string
                    - 'null'
                is_hidden:
                  type: boolean
                classifications:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        '200':
          description: User property updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserProperty'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '422':
          description: |
            Property is not part of the project's tracking plan. Returned when
            attempting to PATCH a property with `is_in_schema: false`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    delete:
      tags:
        - Taxonomy User Properties
      operationId: deleteUserProperty
      summary: Delete user property
      x-required-scopes:
        - taxonomy:write
      parameters:
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: User property deleted.
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/charts:
    get:
      tags:
        - Analytics
      operationId: listCharts
      summary: List charts
      description: |
        Returns saved charts in the project. Results are paginated with cursor-based
        pagination. Chart definitions are omitted; use GET chart with
        `include_definition=true` to retrieve a read-only definition.

        Pagination uses an opaque numeric cursor (offset into the current sorted
        search result set). Each list query can access at most **10,000** matching
        charts from the search index; pages beyond that window return fewer items
        and `next_cursor: null` even when more charts may exist in the project.
        Use filters (`q`, `chart_type`) to narrow large projects.

        Sortable fields are `updated_at` and `name`; prefix with `-` for descending.
        Defaults to `-updated_at` (most recently updated first). `created_at` is not
        supported in this API version.
      x-required-scopes:
        - analytics:read
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/ChartType'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chart'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/charts/{chart_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ChartId'
    get:
      tags:
        - Analytics
      operationId: getChart
      summary: Get chart
      description: |
        Returns chart metadata. The chart definition is omitted by default. Set
        `include_definition=true` to include a read-only definition object. The
        definition shape is unstable and not intended for authoring.
      x-required-scopes:
        - analytics:read
      parameters:
        - $ref: '#/components/parameters/IncludeDefinition'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Chart'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/charts/{chart_id}/query:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ChartId'
    post:
      tags:
        - Analytics
      operationId: queryChart
      summary: Query chart
      description: |
        Computes and returns normalized results for a saved chart. v1 supports
        `event_segmentation`, `sessions`, `funnels`, and `retention` chart types;
        other chart types return `422` with `error_code: unsupported_chart_type`.
        Results reflect the authenticated caller's project access and chart
        permissions.

        This POST computes a result and does not mutate state. It is therefore a
        read operation and does not require an `Idempotency-Key`.

        Omitting `time_range` uses the chart's saved range; if the chart has no
        saved range, the server defaults to the last 30 days.

        Query is synchronous with bounded defaults. Expensive queries may return
        `504` when exceeding the server timeout; async query jobs are planned for
        a follow-up slice. Retryable responses may include retry advice where
        their endpoint-specific error contract provides it.
      x-required-scopes:
        - analytics:read
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChartQueryRequest'
      responses:
        '200':
          description: Query completed successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/AnalyticsResult'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '422':
          description: |
            Chart type is not supported for public query in this version. The
            request was understood but cannot be processed. Returned with
            `error_code: unsupported_chart_type`; `detail` names the chart type
            and the currently supported set.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
        '502':
          $ref: '#/components/responses/Problem'
        '504':
          description: Query exceeded the synchronous timeout.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/projects/{project_id}/flags:
    get:
      tags:
        - Feature Flags
      operationId: listFeatureFlags
      summary: List feature flags
      x-required-scopes:
        - flags:read
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureFlag'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    post:
      tags:
        - Feature Flags
      operationId: createFeatureFlag
      summary: Create feature flag
      x-required-scopes:
        - flags:write
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - name
              properties:
                key:
                  type: string
                  pattern: ^[a-z0-9_-]+$
                  description: Lowercase letters, numbers, hyphens, and underscores only.
                name:
                  type: string
                description:
                  type:
                    - string
                    - 'null'
                evaluation_mode:
                  type: string
                  enum:
                    - local
                    - remote
                  default: remote
                bucketing_key:
                  type: string
                variants:
                  type: array
                  items:
                    $ref: '#/components/schemas/Variant'
                deployment_ids:
                  type: array
                  items:
                    type: string
                rollout_percentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                rollout_weights:
                  $ref: '#/components/schemas/RolloutWeights'
                testers:
                  type: array
                  items:
                    $ref: '#/components/schemas/Tester'
                target_segments:
                  type: array
                  items:
                    $ref: '#/components/schemas/TargetSegmentInput'
              additionalProperties: false
      responses:
        '201':
          description: Feature flag created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/flags/{flag_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FlagId'
    get:
      tags:
        - Feature Flags
      operationId: getFeatureFlag
      summary: Get feature flag
      x-required-scopes:
        - flags:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    patch:
      tags:
        - Feature Flags
      operationId: updateFeatureFlag
      summary: Update feature flag
      description: Updates feature flag metadata and rollout settings. Variant, tester, deployment, and link mutations will be exposed through dedicated subresources in a later slice.
      x-required-scopes:
        - flags:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type:
                    - string
                    - 'null'
                enabled:
                  type: boolean
                evaluation_mode:
                  type: string
                  enum:
                    - local
                    - remote
                bucketing_key:
                  type: string
                rollout_percentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                tags:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        '200':
          description: Feature flag updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    delete:
      tags:
        - Feature Flags
      operationId: archiveFeatureFlag
      summary: Archive feature flag
      x-required-scopes:
        - flags:write
      parameters:
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Feature flag archived.
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/destinations:
    get:
      tags:
        - Destinations
      operationId: listDestinations
      summary: List destinations
      x-required-scopes:
        - destinations:read
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/PartnerFilter'
        - $ref: '#/components/parameters/EnabledFilter'
        - $ref: '#/components/parameters/KindFilter'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Destination'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    post:
      tags:
        - Destinations
      operationId: createDestination
      summary: Create a destination
      description: |
        Always creates a new destination; the server assigns the `id` used for
        every subsequent lookup. `display_name` is not an identity key, so
        repeating a create makes another destination. When `dry_run=true`, returns
        a plan envelope without mutating. SECRET/OAUTH config values are
        write-only.
      x-required-scopes:
        - destinations:write
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner
                - display_name
              properties:
                partner:
                  type: string
                display_name:
                  type: string
                  minLength: 1
                kind:
                  type: array
                  items:
                    $ref: '#/components/schemas/DestinationConnectorKind'
                  minItems: 1
                  description: |
                    Optional connector kinds. When omitted, the kind is inferred
                    from the partner's capabilities; a multi-capability partner with
                    no kind is rejected as ambiguous. When provided it is
                    authoritative and validated against the partner. The three
                    families are mutually exclusive: a subset of [event, identify],
                    or [cohort], or [warehouse_export] — never combined.
                config:
                  type: object
                  additionalProperties: true
                enabled:
                  type: boolean
                event_filter:
                  $ref: '#/components/schemas/DestinationEventFilter'
                property_mappings:
                  type: object
                  additionalProperties: true
                send_events:
                  type: boolean
                send_users:
                  type: boolean
              additionalProperties: false
      responses:
        '200':
          description: Dry-run plan (no mutation).
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - plan
                properties:
                  data:
                    $ref: '#/components/schemas/Destination'
                  plan:
                    $ref: '#/components/schemas/PlanDetails'
        '201':
          description: Destination created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Destination'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/destinations/{id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/DestinationId'
    get:
      tags:
        - Destinations
      operationId: getDestination
      summary: Get a destination
      x-required-scopes:
        - destinations:read
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Destination'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
    patch:
      tags:
        - Destinations
      operationId: updateDestination
      summary: Update a destination
      x-required-scopes:
        - destinations:write
      parameters:
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                kind:
                  type: array
                  items:
                    $ref: '#/components/schemas/DestinationConnectorKind'
                  minItems: 1
                config:
                  type: object
                  additionalProperties: true
                enabled:
                  type: boolean
                event_filter:
                  oneOf:
                    - $ref: '#/components/schemas/DestinationEventFilter'
                    - type: 'null'
                property_mappings:
                  oneOf:
                    - type: object
                      additionalProperties: true
                    - type: 'null'
                send_events:
                  type: boolean
                send_users:
                  type: boolean
              additionalProperties: false
      responses:
        '200':
          description: Destination updated, or dry-run plan.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Destination'
                  plan:
                    $ref: '#/components/schemas/PlanDetails'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '412':
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/destinations/{id}/test:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/DestinationId'
    post:
      tags:
        - Destinations
      operationId: testDestination
      summary: Test an event streaming destination connection
      x-required-scopes:
        - destinations:write
      responses:
        '200':
          description: Test result.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/DestinationTestResult'
        '400':
          $ref: '#/components/responses/ValidationProblem'
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
  /v1/projects/{project_id}/snowflake-keys:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
        - Destinations
      operationId: generateSnowflakeRsaKey
      summary: Generate an RSA key pair for Snowflake authentication
      description: |
        Generates a Snowflake-compatible RSA key pair. The private key is stored
        server-side in an ephemeral cache; you receive the public key (paste into
        your Snowflake user via `ALTER USER <user> SET RSA_PUBLIC_KEY = '...'`) and
        an ephemeral ID to pass as `snowflake_private_key_ephemeral_id` in the
        destination `config` on a subsequent `POST /destinations` for a Snowflake
        direct-load destination.

        This is the CLI equivalent of the "Generate RSA Key" step in the Amplitude
        UI wizard, so customers do not have to run `openssl genrsa` and manage
        private keys locally.
      x-required-scopes:
        - destinations:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Key pair generated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - public_key
                      - ephemeral_id
                    properties:
                      public_key:
                        type: string
                        description: RSA public key in PEM format. Add to your Snowflake user.
                      ephemeral_id:
                        type: string
                        description: Reference to the server-held private key. Pass as `snowflake_private_key_ephemeral_id` in destination create/update config.
        '401':
          $ref: '#/components/responses/Problem'
        '403':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitProblem'
        '500':
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: Amplitude project identifier, backed by the canonical app ID.
      schema:
        type: string
        pattern: ^[0-9]+$
        example: '12345'
    Cursor:
      name: cursor
      in: query
      required: false
      description: |
        Opaque cursor from `pagination.next_cursor` on the previous response.
        Numeric offsets are capped by the underlying search index (10,000 results
        per query). Well-formed pagination stops before that window; requests whose
        cursor would exceed it return 400 `pagination_not_supported`.
      schema:
        type:
          - string
          - 'null'
    Limit:
      name: limit
      in: query
      required: false
      description: Number of items to return. Defaults to 50, max 200.
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Sort:
      name: sort
      in: query
      required: false
      description: Sort field. Prefix with `-` for descending. Supported values are `updated_at` and `name`.
      schema:
        type: string
        example: '-updated_at'
    Query:
      name: q
      in: query
      required: false
      description: Full-text search query.
      schema:
        type: string
    DryRun:
      name: dry_run
      in: query
      required: false
      description: Validate request without performing mutation.
      schema:
        type: boolean
        default: false
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Unique idempotency key used to safely retry write operations.
      schema:
        type: string
        minLength: 8
        maxLength: 255
    EventId:
      name: event_id
      in: path
      required: true
      description: Public event identifier. For the current TMS-backed API, this value is the event type.
      schema:
        type: string
        minLength: 1
    EventPropertyId:
      name: event_property_id
      in: path
      required: true
      description: |
        Public event property identifier. Equal to `property_name`. URL-encode
        when the property name contains spaces or special characters.
      schema:
        type: string
        minLength: 1
    UserPropertyId:
      name: user_property_id
      in: path
      required: true
      description: |
        Public user property identifier. Equal to `property_name`. URL-encode
        when the property name contains spaces or special characters.
      schema:
        type: string
        minLength: 1
    FlagId:
      name: flag_id
      in: path
      required: true
      description: Feature flag identifier.
      schema:
        type: string
        minLength: 1
    ChartId:
      name: chart_id
      in: path
      required: true
      description: Saved chart identifier.
      schema:
        type: string
        minLength: 1
    ChartType:
      name: chart_type
      in: query
      required: false
      description: |
        Filter list results to a specific chart type. Use `unknown` to return charts
        whose type is not represented by a public API value.
      schema:
        $ref: '#/components/schemas/ChartType'
    IncludeDefinition:
      name: include_definition
      in: query
      required: false
      description: |
        When true, include the read-only chart definition on GET chart. The definition
        shape is unstable and not intended for authoring.
      schema:
        type: boolean
        default: false
    ExperimentId:
      name: experiment_id
      in: path
      required: true
      description: Experiment identifier. Experiments are backed by flag configurations and use the same identifier namespace.
      schema:
        type: string
        minLength: 1
    Partner:
      name: partner
      in: path
      required: true
      description: Destination partner key (e.g. braze, kinesis_datastream).
      schema:
        type: string
        minLength: 1
    DestinationId:
      name: id
      in: path
      required: true
      description: Destination id.
      schema:
        type: string
        minLength: 1
    PartnerFilter:
      name: partner
      in: query
      required: false
      description: Filter by destination partner key.
      schema:
        type: string
        minLength: 1
    EnabledFilter:
      name: enabled
      in: query
      required: false
      description: Filter by enabled/active flag.
      schema:
        type: boolean
    IfMatch:
      name: If-Match
      in: header
      required: false
      description: |
        Optimistic concurrency token. Must equal the resource `version` for the
        write to proceed; otherwise the API returns 412.
      schema:
        type: integer
        minimum: 0
    KindFilter:
      name: kind
      in: query
      required: false
      description: |
        Filter by a single connector kind; matches destinations whose `kind` array
        contains this value.
      schema:
        $ref: '#/components/schemas/DestinationConnectorKind'
  responses:
    Problem:
      description: Error response encoded as RFC 9457 Problem Details.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    ValidationProblem:
      description: Validation failure response encoded as RFC 9457 Problem Details.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    RateLimitProblem:
      description: Request rate limit exceeded.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://developer-api.amplitude.com/problems/rate-limit-exceeded
            title: Rate limit exceeded
            status: 429
            detail: Too many requests.
            error_code: rate_limit_exceeded
            retryable: true
  schemas:
    ObjectMeta:
      type: object
      required:
        - id
        - object
        - created_at
        - updated_at
      properties:
        id:
          type: string
        object:
          type: string
          description: |
            Stable resource-type discriminator. Each resource sets a fixed value
            (declared via `const` on the concrete schema, e.g. `project`, `event`).
            Clients can use this field to safely narrow polymorphic responses.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Pagination:
      type: object
      required:
        - next_cursor
        - has_more
      properties:
        next_cursor:
          type:
            - string
            - 'null'
          description: |
            Cursor for the next page, or `null` on the last page. Chart list
            responses may stop before all project charts are enumerated because
            the search backend caps each query at 10,000 sorted hits.
        has_more:
          type: boolean
    ProblemDetails:
      type: object
      required:
        - type
        - title
        - status
        - error_code
        - retryable
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type:
            - string
            - 'null'
        instance:
          type:
            - string
            - 'null'
          format: uri
        error_code:
          type: string
        retryable:
          type: boolean
        retry_after_seconds:
          type:
            - integer
            - 'null'
          minimum: 0
        validation_errors:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      type: object
      required:
        - field
        - message
        - code
      properties:
        field:
          type: string
        message:
          type: string
        code:
          type: string
    Project:
      allOf:
        - $ref: '#/components/schemas/ObjectMeta'
        - type: object
          required:
            - name
          properties:
            id:
              type: string
              pattern: ^[0-9]+$
            object:
              type: string
              const: project
              description: Resource-type discriminator. Always `project`.
            name:
              type: string
            description:
              type:
                - string
                - 'null'
    Event:
      type: object
      required:
        - id
        - object
        - project_id
        - event_type
        - display_name
        - is_active
      properties:
        id:
          type: string
          description: Canonical event identifier. Equal to `event_type`.
        object:
          type: string
          const: event
          description: Resource-type discriminator. Always `event`.
        project_id:
          type: string
          pattern: ^[0-9]+$
        event_type:
          type: string
        display_name:
          type: string
        description:
          type:
            - string
            - 'null'
        is_active:
          type: boolean
    EventProperty:
      type: object
      required:
        - id
        - object
        - project_id
        - event_type
        - property_name
        - is_hidden
        - is_in_schema
        - is_array_type
        - enum_values
        - classifications
      properties:
        id:
          type: string
          description: |
            Stable resource identifier. Equal to `property_name`.
        object:
          type: string
          const: event_property
          description: Resource-type discriminator. Always `event_property`.
        project_id:
          type: string
          pattern: ^[0-9]+$
        event_type:
          type: string
          description: Event this property is bound to.
        property_name:
          type: string
        description:
          type:
            - string
            - 'null'
        is_hidden:
          type: boolean
          description: Hidden from default UI surfaces and API listings.
        is_in_schema:
          type: boolean
          description: |
            Whether this property is part of the project's curated tracking
            plan. `false` means ingested-only (seen via SDK calls but never
            formally added). Properties with `is_in_schema: false` cannot be
            modified — `PATCH` returns `422 not_in_schema` and metadata writes
            are rejected. `POST` implicitly transitions a property to
            `is_in_schema: true`.
        data_type:
          $ref: '#/components/schemas/PropertyDataType'
        is_array_type:
          type: boolean
        enum_values:
          type: array
          items:
            type: string
        regex:
          type:
            - string
            - 'null'
        classifications:
          type: array
          items:
            type: string
          description: |
            Data Access Controls (DAC) tags. Examples include `PII`,
            `SENSITIVE`, `INTERNAL`.
    UserProperty:
      type: object
      required:
        - id
        - object
        - project_id
        - property_name
        - is_hidden
        - is_in_schema
        - is_array_type
        - enum_values
        - classifications
      properties:
        id:
          type: string
          description: |
            Stable resource identifier. Equal to `property_name`.
        object:
          type: string
          const: user_property
          description: Resource-type discriminator. Always `user_property`.
        project_id:
          type: string
          pattern: ^[0-9]+$
        property_name:
          type: string
        display_name:
          type:
            - string
            - 'null'
        description:
          type:
            - string
            - 'null'
        is_official:
          type:
            - boolean
            - 'null'
          description: |
            Curated/official flag. `null` ⇒ inherited / unset upstream.
        is_hidden:
          type: boolean
        is_in_schema:
          type: boolean
          description: |
            Whether this property is part of the project's curated tracking
            plan. Same semantics as `EventProperty.is_in_schema`.
        data_type:
          $ref: '#/components/schemas/PropertyDataType'
        is_array_type:
          type: boolean
        enum_values:
          type: array
          items:
            type: string
        regex:
          type:
            - string
            - 'null'
        classifications:
          type: array
          items:
            type: string
    PropertyDataType:
      description: |
        Logical data type of a property. `null` means untyped at the source;
        clients should treat it as `string` for ingestion.
      type:
        - string
        - 'null'
      enum:
        - string
        - number
        - boolean
        - object
        - enum
        - any
        - null
    Chart:
      type: object
      required:
        - id
        - object
        - project_id
        - name
        - chart_type
        - created_at
        - updated_at
        - url
        - archived
      properties:
        id:
          type: string
          description: Stable chart identifier.
        object:
          type: string
          const: chart
          description: Resource-type discriminator. Always `chart`.
        project_id:
          type: string
          pattern: ^[0-9]+$
        name:
          type: string
        description:
          type:
            - string
            - 'null'
        chart_type:
          $ref: '#/components/schemas/ChartType'
        created_at:
          type:
            - string
            - 'null'
          format: date-time
          description: ISO-8601 creation time, or `null` when unavailable.
        updated_at:
          type:
            - string
            - 'null'
          format: date-time
          description: ISO-8601 last-modified time, or `null` when unavailable.
        created_by:
          type:
            - string
            - 'null'
          description: |
            Chart creator. The creator's email when available, otherwise a login
            identifier; `null` when the creator cannot be resolved.
        url:
          type: string
          format: uri
          description: Deep link to the chart in the Amplitude UI.
        archived:
          type: boolean
          description: Whether the chart is archived.
        definition:
          type: object
          additionalProperties: true
          description: |
            Read-only chart definition. Returned only when `include_definition=true`
            on GET chart. Shape is unstable and may change between API versions;
            not intended for authoring.
    ChartType:
      type: string
      description: |
        Public chart type discriminator (snake_case). All values may appear on
        list/get; query returns `422` (`unsupported_chart_type`) for types outside
        the v1 supported matrix.

        Unsupported or unrecognized chart types are surfaced as `unknown`.

        New chart types may be added over time. Clients should treat `unknown` as
        "a chart type this API version does not model yet".
      enum:
        - event_segmentation
        - sessions
        - funnels
        - retention
        - composition
        - revenue_ltv
        - stickiness
        - data_table
        - engagement_matrix
        - metric_explorer
        - growth_accounting
        - impact
        - users
        - unknown
    ChartQueryRequest:
      type: object
      description: |
        v1 query parameters. Filter and group-by overrides are not supported in v1.
      properties:
        time_range:
          $ref: '#/components/schemas/TimeRange'
        timezone:
          type: string
          description: IANA timezone identifier (e.g. `America/New_York`).
          example: America/New_York
        exclude_incomplete_datapoints:
          type: boolean
          default: false
          description: |
            When true, excludes the current incomplete interval from results.
        group_by_limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 10
          description: Maximum number of breakdown groups returned per series.
        time_series_limit:
          type: integer
          minimum: 0
          maximum: 1000
          default: 100
          description: |
            Maximum number of time buckets per series. `0` collapses each series to
            a single scalar aggregate.
      additionalProperties: false
    AnalyticsResult:
      type: object
      required:
        - id
        - object
        - source_type
        - source_id
        - project_id
        - computed_at
        - timezone
        - result_kind
        - metric_semantics
        - data
        - metadata
        - warnings
      properties:
        id:
          type: string
          description: Identifier for this query execution.
        object:
          type: string
          const: analytics_result
          description: Resource-type discriminator. Always `analytics_result`.
        source_type:
          type: string
          enum:
            - chart
          description: |
            Source artifact type. v1 supports `chart` only. `dashboard` and `query`
            are reserved for future slices.
        source_id:
          type: string
          description: Identifier of the source chart.
        project_id:
          type: string
          pattern: ^[0-9]+$
        computed_at:
          type: string
          format: date-time
        timezone:
          type: string
          description: IANA timezone used for computation.
        result_kind:
          $ref: '#/components/schemas/ResultKind'
        metric_semantics:
          $ref: '#/components/schemas/MetricSemantics'
        data:
          $ref: '#/components/schemas/AnalyticsResultData'
        metadata:
          $ref: '#/components/schemas/AnalyticsResultMetadata'
        warnings:
          type: array
          items:
            type: string
          description: Non-fatal issues encountered during query execution.
        truncated:
          oneOf:
            - $ref: '#/components/schemas/TruncationInfo'
            - type: 'null'
    RecentEventIngestionCheckRequest:
      type: object
      properties:
        event_type:
          type: string
          pattern: \S
          description: Exact event type to check. Omit to check for any event.
        lookback_minutes:
          type: integer
          minimum: 1
          maximum: 1440
          default: 10
          description: |
            Number of recent minutes to evaluate. The returned window can begin up
            to five minutes earlier to cover the complete starting interval.
        polling_timeout_seconds:
          $ref: '#/components/schemas/RecentEventIngestionPollingTimeoutSeconds'
      additionalProperties: false
    RecentEventIngestionCheck:
      type: object
      required:
        - id
        - object
        - project_id
        - status
        - count
        - window
      properties:
        id:
          type: string
          description: Identifier for this ingestion check.
        object:
          type: string
          const: recent_event_ingestion_check
          description: Resource-type discriminator. Always `recent_event_ingestion_check`.
        project_id:
          type: string
          pattern: ^[0-9]+$
        event_type:
          type: string
          description: Event type evaluated. Omitted when the request checked for any event.
        status:
          type: string
          enum:
            - observed
            - not_observed
            - inconclusive
          description: |
            `observed` when at least one matching event was found; `not_observed`
            when none was found; `inconclusive` when none was found but complete
            recent data was unavailable.
        count:
          type: number
          minimum: 0
          description: Number of matching events found in the evaluated window.
        poll_after_seconds:
          $ref: '#/components/schemas/RecentEventIngestionPollAfterSeconds'
        window:
          type: object
          required:
            - start
            - end
            - basis
          properties:
            start:
              type: string
              format: date-time
              description: Start of the evaluated window.
            end:
              type: string
              format: date-time
              description: End of the evaluated window.
            basis:
              type: string
              const: server_upload_time
              description: |
                Time basis for the window. `server_upload_time` measures when an
                event reached Amplitude.
          additionalProperties: false
      additionalProperties: false
    FeatureFlag:
      allOf:
        - $ref: '#/components/schemas/FeatureFlagBase'
        - type: object
          required:
            - object
          properties:
            object:
              type: string
              const: feature_flag
              description: Resource-type discriminator. Always `feature_flag`.
    Variant:
      type: object
      required:
        - key
      properties:
        key:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          description: Stable variant key. The value `off` is reserved.
        name:
          type:
            - string
            - 'null'
        description:
          type:
            - string
            - 'null'
        payload:
          description: Optional JSON payload returned by evaluation.
    TargetSegment:
      type: object
      required:
        - conditions
      properties:
        name:
          type:
            - string
            - 'null'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/TargetCondition'
        percentage:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 100
          description: Segment rollout percentage.
        rollout_weights:
          $ref: '#/components/schemas/RolloutWeights'
        bucketing_key:
          type:
            - string
            - 'null'
    TargetSegmentInput:
      type: object
      required:
        - percentage
        - rollout_weights
      properties:
        name:
          type:
            - string
            - 'null'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/TargetCondition'
          description: Omitted (or empty) for the catch-all "all other users" segment.
        percentage:
          type: integer
          minimum: 0
          maximum: 100
          description: Segment rollout percentage.
        rollout_weights:
          $ref: '#/components/schemas/RolloutWeights'
        bucketing_key:
          type:
            - string
            - 'null'
    Destination:
      type: object
      required:
        - id
        - object
        - project_id
        - partner
        - display_name
        - kind
        - config
        - credential_status
        - version
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Server-assigned identifier (read-only).
        object:
          type: string
          const: destination
        project_id:
          type: string
          pattern: ^[0-9]+$
        partner:
          type: string
        display_name:
          type: string
        kind:
          type: array
          items:
            $ref: '#/components/schemas/DestinationConnectorKind'
          minItems: 1
        config:
          type: object
          additionalProperties: true
          description: |
            Partner config keyed by parameter id. SECRET/OAUTH values are write-only
            and never returned on reads. Values are scalars or structured
            (objects/arrays, e.g. header maps); structured values round-trip as
            decoded JSON.
        credential_status:
          $ref: '#/components/schemas/DestinationCredentialStatus'
        version:
          type: integer
          minimum: 1
        enabled:
          type: boolean
          description: Event-streaming only. Whether the stream is enabled.
        paused:
          type: boolean
          description: Event-streaming only. Whether the stream is paused.
        event_filter:
          oneOf:
            - $ref: '#/components/schemas/DestinationEventFilter'
            - type: 'null'
          description: Event-streaming only. Events (and optional property filters) to stream.
        property_mappings:
          oneOf:
            - type: object
              additionalProperties: true
            - type: 'null'
          description: Event-streaming only. Optional property mappings.
        send_events:
          type: boolean
          description: Event-streaming only. Whether to send events.
        send_users:
          type: boolean
          description: Event-streaming only. Whether to send identify/user updates.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_by:
          type:
            - string
            - 'null'
        updated_by:
          type:
            - string
            - 'null'
    DestinationType:
      type: object
      required:
        - id
        - object
        - partner
        - display_name
        - types
        - parameters
      properties:
        id:
          type: string
        object:
          type: string
          const: destination_type
        partner:
          type: string
          description: Partner key (e.g. braze, kinesis_datastream, s3).
        display_name:
          type: string
        types:
          type: array
          items:
            $ref: '#/components/schemas/DestinationConnectorType'
          minItems: 1
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/DestinationParameter'
    DestinationParameter:
      type: object
      required:
        - id
        - label
        - kind
        - required
      properties:
        id:
          type: string
        label:
[...]
